* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體, arial;
    font-weight: 100;
    color: #1A1A1A;
}

a {
    text-decoration: none;
    color: white;
}

p {
    font-size: 20px;
    color: white;
}

header {
    height: 400px;
    width: 100%;
    background: url(img/main.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: auto;
}

header .box {
    background-color: rgba(255, 255, 255, .35);
    overflow: auto;
    height: 400px;
}

.nav {
    margin-top: 30px;
}

a img.apple {
    width: 25px;
    margin-left: 70px;
    display: inline-block;
}

.nav ul {
    list-style: none;
    float: right;
    margin: 0px;
    margin-right: 70px;
}

.nav li {
    display: inline-block;
    margin-left: 5px;
    /*nav裏各li間距*/
    vertical-align: middle;
}

.nav li a {
    overflow: auto;
    color: rgba(26, 26, 26, .8);
    font-size: 18px;
    display: inline-block;
    transition: all .3s;
    border-bottom: solid 1px rgba(26, 26, 26, 0);
    padding: 5px 10px;
}

.nav li a:hover {
    border-bottom: solid 1px rgba(26, 26, 26, .8);
}


/*  另一種HOVER樣式 
.nav li a:hover { 
    color: white;
    background-color: rgba(26, 26, 26, .8);
    padding: 5px 10px;
}
*/

.nav li img {
    width: 25px;
}

header h1,
header h2 {
    clear: both;
    margin: auto;
    text-align: center;
    letter-spacing: 5px;
}

header h1 {
    margin-top: 80px;
    font-size: 48px;
    font-weight: 200;
}

header h2 {
    margin-top: 10px;
    font-size: 30px;
}

section {
    margin: 0px auto;
    max-width: 1280px;
    overflow: auto;
    margin-top: -50px;
}

.product_block {
    background-color: #1A1A1A;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .5s;
    border-bottom: 1px solid white;
    letter-spacing: 3px;
}

.product_block:hover .img_area {
    width: 50%;
}

.product_block:hover {
    background-color: #2A2A2A;
}

.product_block.mid {
    -background-color: #2A2A2A;
}

.product_block.btm {
    border-bottom: 0px solid white;
}

.product_block .img_area {
    width: 30%;
    height: 150px;
    overflow: hidden;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
    position: relative;
}

.product_block img {
    width: 100%;
}

.product_block .content {
    width: 70%;
    float: left;
    padding: 0 50px;
}

.product_block .content h3,
.product_block .content p {
    color: white;
    margin: 10px 0px;
}

.product_block .content h3 {
    font-weight: 200;
}

.info_block {
    background-color: #1A1A1A;
    margin-top: 30px;
    height: 600px;
    width: 620px;
}

.info_block.left {
    background: url(img/realapple.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
}

.info_block.right {
    background: url(img/brokeiphone.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
}

.info_block .content {
    color: white;
    text-align: center;
    margin: 0px;
    height: 100%;
    padding: 120px;
    background-color: rgba(26, 26, 26, .3);
    transition: all .5s;
        letter-spacing: 3px;
}

.info_block .content:hover {
    background-color: rgba(26, 26, 26, .6);
}

.info_block .content .box {
    height: 70px;
}

.info_block .content h3 {
    color: white;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 60px;
}

.info_block .content p {
    line-height: 30px;
}

.info_block .content a {
    display: inline-block;
    margin-top: 70px;
    padding: 5px 20px;
    background-color: rgba(26, 26, 26, .8);
    transition: all .2s;
}

.info_block .content a:hover {
    background-color: rgba(26, 26, 26, 1);
}

footer {
    width: 100%;
    height: 150px;
    background-color: #1A1A1A;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    text-align: center;
    font-size: 16px;
        letter-spacing: 3px;
}

@media only screen and (max-width: 1280px) {
    section {
        margin: 0 45px;
        max-width: 1280px;
        overflow: auto;
        margin-top: -50px;
    }
    .info_block {
        background-color: #1A1A1A;
        margin-top: 30px;
        height: 540px;
        width: 100%;
    }
}
